body {
    margin: 0px;
}

.hand {
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    transform-origin: bottom center;
}

.card {
    margin-left: -220px;
}

#playerActions {
    display: flex;
    justify-content: center;
}

.crt {
    min-height: 100vh;
}

#table {
    display: flex;
    flex-direction: column;
}

@property --w_raw {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}