body {
    margin: 0px;
}

.hand {
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    transform-origin: bottom center;
}

.card {
    margin-left: -220px;
}

#playerActions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.crt {
    min-height: 100vh;
}

#table {
    display: flex;
    flex-direction: column;
    gap: 50px; 
    width: 50%;
    margin: 0 auto; /* center it horizontally */ 
}

#winner {
    position: fixed;        
    top: 50%;
    left: 1%;               
    transform: rotate(-25deg) translateY(-50%);
    transform-origin: left top; 
    font-size: 3rem;        
    pointer-events: none;   
    
}

@property --w_raw {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}