@font-face {
  src: url('/assets/Perfect_DOS_VGA_437_Win.ttf') format('truetype');
  font-family: 'terminal';
}

html {
  scrollbar-color: #111111 black;
}

canvas {
  border: 2px solid red;
}

.crt {
  background: linear-gradient(to top, #000000, #000000, #111111, #111111);
  background-size: 100% 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

@media screen{
  .crt {
    animation: scanlines infinite 15s linear;
  }
} 

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -80px;
  }
}

.back {
  display: inline;
}

a {
  color: red;
  text-decoration: none;
  display: block;
  font: 2rem terminal;
  filter: blur(.4px);
}

a:hover {
  border: 3px solid red;
  font: 3rem terminal;
}

h1 {
  color: red;
  text-decoration: none;
  display: block;
  border: 2px solid red;
  font: 4rem terminal;
  text-shadow: 0 0 10px red;
}

label {
  color: red;
  text-decoration: none;
  display: block;
  font: 3rem terminal;
}

span {
  color: red;
  text-decoration: none;
  display: block;
  margin-top: 2rem;
  font: 4rem terminal;
}

input {
  display: block;
  font: 3rem terminal;
  border: 2px solid red;
  background: transparent;
  color: white;
}

input:focus {
  outline: none;
  border: 3px solid red;  
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 1rem 0;
  border: none;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    red 0px,
    red 6px,
    transparent 6px,
    transparent 12px
  );
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: black;
  border: 2px solid red;
  border-radius: 0;
  cursor: pointer;
}

button {
  display: block;
  font: 2rem terminal;
  border: 2px solid red;
  background: transparent;
  color: white;
}

button:hover {
  border: 3px solid red;
}

button:disabled {
  border: 3px solid grey
}

.main {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
