@font-face {
  src: url('/assets/Minecraft.ttf') format('truetype');
  font-family: 'pixelated';
}

body {
    margin: 0;
    overflow-x: hidden;
}

#main {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#title {
    color: yellow;
    font: 4rem pixelated;
    width: fit-content;
    padding: 0;
    margin: 0;
    animation: move 14s steps(67) infinite;
}

@keyframes move {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100vw); } 
}

#titleSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stuff {
    flex-grow: 1;
    display: flex;
}

#commandSection {
    margin-top: auto;
    width: 100%;
}

.scrollable-element {
  scrollbar-width: none;
}

