@font-face {
  src: url('/assets/Minecraft.ttf') format('truetype');
  font-family: 'pixelated';
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

:root {
    --accent-color: yellow;
}

#main {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#title {
    color: var(--accent-color);
    font: 4rem pixelated;
    width: fit-content;
    padding: 0;
    margin: 0;
    animation: move 14s steps(67) infinite;
}

@keyframes move {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100vw); } 
}

#titleSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stuff {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 2px yellow solid;
    margin: 20px;
}

#commandSection {
    margin-top: auto;
    width: 100%;
    background-color: var(--accent-color);
}

#commandSection label, #commandSection input[type = "text"] {
    font-family: "JetBrains Mono", monospace;
}

#ip {
    border-radius: 0px;
    border: 4px yellow solid;
}

#ip:focus {
    outline: none;
}

.scrollable-element {
  scrollbar-width: none;
}

#dataSection {
    display: grid;
    height: 100%;
    grid-template-columns: 66.6% 33.4%;
    grid-template-rows: 60% 40%;
}

#labs {
    background-color: gainsboro;
}

#brightness {
    background-color: blue;
}

#temperature {
    background-color: green;
}

#humidity {
    background-color: red;
}
